In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-09-01 22:16:46,-23.12,-134.97,67.96,77,92,20.60
1,1,Bluff,NZ,2020-09-01 22:16:46,-46.60,168.33,43.66,68,51,9.35
2,2,Hobart,AU,2020-09-01 22:16:47,-42.88,147.33,44.01,81,75,6.96
3,3,Provideniya,RU,2020-09-01 22:12:11,64.38,-173.30,50.00,57,75,6.71
4,4,Luba,GQ,2020-09-01 22:16:47,3.46,8.55,76.62,84,100,6.93

## Create a max temp heatmap

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating = False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a % humidity heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a % cloudiness heatmap

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a windspeed heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get vacation criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Luba,GQ,2020-09-01 22:16:47,3.46,8.55,76.62,84,100,6.93
6,6,Atuona,PF,2020-09-01 22:15:10,-9.80,-139.03,79.14,73,18,20.36
10,10,Arraial Do Cabo,BR,2020-09-01 22:16:48,-22.97,-42.03,73.40,88,75,9.17
12,12,Beri,IN,2020-09-01 22:16:49,25.90,79.89,83.23,77,100,5.23
15,15,Kalmunai,LK,2020-09-01 22:16:50,7.42,81.82,77.25,82,100,2.98
17,17,Tucumcari,US,2020-09-01 22:16:50,35.17,-103.72,84.20,25,1,23.04
20,20,Albany,US,2020-09-01 22:16:51,42.60,-73.97,73.99,66,47,7.49
21,21,Puerto Ayora,EC,2020-09-01 22:12:09,-0.74,-90.35,77.00,53,40,19.46
23,23,Bandarbeyla,SO,2020-09-01 22:16:51,9.49,50.81,76.66,84,32,22.26
27,27,Kahului,US,2020-09-01 22:12:17,20.89,-156.47,89.60,46,40,24.16

In [13]:
# determine if there are null values 
preferred_cities_df.count()

City_ID       312
City          312
Country       311
Date          312
Lat           312
Lng           312
Max Temp      312
Humidity      312
Cloudiness    312
Wind Speed    312
dtype: int64

## Map Vacation Criteria

### 1. Get travel destinations

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4              Luba      GQ     76.62   3.46    8.55
6            Atuona      PF     79.14  -9.80 -139.03
10  Arraial Do Cabo      BR     73.40 -22.97  -42.03
12             Beri      IN     83.23  25.90   79.89
15         Kalmunai      LK     77.25   7.42   81.82
17        Tucumcari      US     84.20  35.17 -103.72
20           Albany      US     73.99  42.60  -73.97
21     Puerto Ayora      EC     77.00  -0.74  -90.35
23      Bandarbeyla      SO     76.66   9.49   50.81
27          Kahului      US     89.60  20.89 -156.47

### 2. retrieve hotels from a nearby search

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### 3. iterate though hotel_df DataFrame

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    #hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotels = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

               City Country  Max Temp    Lat     Lng           Hotel Name
4              Luba      GQ     76.62   3.46    8.55
6            Atuona      PF     79.14  -9.80 -139.03          Villa Enata
10  Arraial Do Cabo      BR     73.40 -22.97  -42.03  Pousada Porto Praia
12             Beri      IN     83.23  25.90   79.89     Sani sweets hous
15         Kalmunai      LK     77.25   7.42   81.82             VS Villa

### 4. Create a max temp heatmap from a Hotel DataFrame

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
fig