## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.tail()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
556,556,ler,NO,39.20,shower rain,63.20,10.30,Motel Pokoje Do Wynajecia
557,557,prince george,CA,35.01,light rain,53.92,-122.75,Canadas Best Value Inn Prince George
558,558,grafton,AU,89.60,few clouds,-29.69,152.93,Glenwood Tourist Park & Motel
559,559,merauke,ID,87.35,moderate rain,-8.49,140.40,Swiss-Belhotel Merauke
560,560,hambantota,LK,89.60,broken clouds,6.12,81.12,Bungalow 63

In [3]:
vacation = vacation_df
pref_cities_df = vacation.loc[(vacation_df["Country"] == "IT")| (vacation_df["Country"] == "ES")| (vacation_df["Country"] == "PT")].tail(4)
pref_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
392,392,vila franca do campo,PT,64.40,broken clouds,37.72,-25.43,Pestana Bahia Praia
395,395,tarragona,ES,44.01,clear sky,41.12,1.25,Hotel SB Ciutat de Tarragona
487,487,crotone,IT,42.22,clear sky,39.09,17.12,Helios Hotel
494,494,mantua,IT,37.00,few clouds,45.16,10.79,Hotel la Favorita

In [7]:
# combine 4 cities into 1 DataFrame
four_cities_df = pref_cities_df.loc[[392, 395, 487, 494], :]
four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
392,392,vila franca do campo,PT,64.40,broken clouds,37.72,-25.43,Pestana Bahia Praia
395,395,tarragona,ES,44.01,clear sky,41.12,1.25,Hotel SB Ciutat de Tarragona
487,487,crotone,IT,42.22,clear sky,39.09,17.12,Helios Hotel
494,494,mantua,IT,37.00,few clouds,45.16,10.79,Hotel la Favorita

In [8]:
coords = list(zip(four_cities_df["Lat"], four_cities_df["Lng"]))
coords

[(37.72, -25.43), (41.12, 1.25), (39.09, 17.12), (45.16, 10.79)]

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

# Hint: The starting and ending city should be the same city.

vacation_start =pref_cities_df.loc[pref_cities_df["City"] == "crotone"]
vacation_end = pref_cities_df.loc[pref_cities_df["City"] == "crotone"]
vacation_stop1 = pref_cities_df.loc[pref_cities_df["City"] == "tarragona"]
vacation_stop2 = pref_cities_df.loc[pref_cities_df["City"] == "vila franca de campo"]
vacation_stop3 = pref_cities_df.loc[pref_cities_df["City"] == "mantua"]

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy() 
end = vacation_end[["Lat", "Lng"]].to_numpy() 
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy() 
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy() 
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy() 
print(stop1)

[[41.12  1.25]]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure() 
route = gmaps.directions_layer(coords[0], coords[0], waypoints = [coords[1], coords[2], coords[3]], travel_mode = "DRIVING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure() 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig
# 4b. Display the figure

In [ ]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in pref_cities_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations =vacation_df[["Lat", "Lng"]]
locations

In [ ]:
four_cities_df = pref_cities_df.loc[(pref)]

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(4)

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure