## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,kalmunai,LK,81.27,overcast clouds,7.42,81.82,VS Villa
1,1,san jeronimo,PE,50.00,light rain,-13.65,-73.37,La Mansion Casa Hotel
2,2,bambous virieux,MU,81.00,shower rain,-20.34,57.76,Casa Tia Villa
3,3,atuona,PF,80.35,clear sky,-9.80,-139.03,Villa Enata
4,4,hobart,AU,69.80,scattered clouds,-42.88,147.33,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...,...,...,...
556,556,ler,NO,39.20,shower rain,63.20,10.30,Motel Pokoje Do Wynajecia
557,557,prince george,CA,35.01,light rain,53.92,-122.75,Canadas Best Value Inn Prince George
558,558,grafton,AU,89.60,few clouds,-29.69,152.93,Glenwood Tourist Park & Motel
559,559,merauke,ID,87.35,moderate rain,-8.49,140.40,Swiss-Belhotel Merauke
560,560,hambantota,LK,89.60,broken clouds,6.12,81.12,Bungalow 63

In [17]:
pref_cities_df = vacation_df.loc[(vacation_df["Country"] == "CA")].tail(4)
pref_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
514,514,halifax,CA,30.99,broken clouds,44.65,-63.58,Hotel Halifax
530,530,haines junction,CA,25.20,light snow,60.75,-137.51,Parkside Inn
538,538,quesnel,CA,33.80,light rain,52.98,-122.49,Ramada Limited Quesnel
557,557,prince george,CA,35.01,light rain,53.92,-122.75,Canadas Best Value Inn Prince George

In [23]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in pref_cities_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations =pref_cities_df[["Lat", "Lng"]]
locations

       Lat     Lng
514  44.65  -63.58
530  60.75 -137.51
538  52.98 -122.49
557  53.92 -122.75

In [24]:
coords = list(zip(pref_cities_df["Lat"], pref_cities_df["Lng"]))
coords

[(44.65, -63.58), (60.75, -137.51), (52.98, -122.49), (53.92, -122.75)]

In [26]:
# 4a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure() 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig
# 4b. Display the figure
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure() 
route = gmaps.directions_layer(coords[0], coords[0], waypoints = [coords[1], coords[2], coords[3]], travel_mode ="DRIVING" )
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure